extends pug/helpers/_pageStructore

//-
  =======================================================
  In this a block for including page or anythings
  =======================================================
block includes
  include pug/helpers/_helpers

//-
  =======================================================
  In this a block we can create a variables for this page
  =======================================================
block variables
  - var Title = "Bondi";
//-
  =======================================================
  In this a block for add CSS file for this page
  =======================================================
block stylesheet
  title #{Title}
  //- Add a logo icon for title bar
  link(rel="shortcut icon", href="imgs/logo.png", type="image/x-icon")
  //- Add Roboto Font From Google Fonts
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap' rel='stylesheet')
  //- Normalize Library
  link(rel="stylesheet", href="css/normalize.css")
  //- Fontawesome Library
  link(rel="stylesheet", href="css/fontawesome.min.css")
  //- Bootstrap Framework
  link(rel="stylesheet", href="css/bootstrap.min.css")
  //- Bondi Style File
  link(rel="stylesheet", href="css/bondi.css")


//-
  ====================================================================================================================
                                              In this a block for page content
  ====================================================================================================================
block content 
  //- ***************************************** Start Nav *****************************************
  nav#navbar.navbar.navbar-expand-lg.sticky-top
    .container-fluid 
      a.navbar-brand(href="#")
        img(src="imgs/logo.png", alt="Bondi Logo")
      button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation")
        span.fa-solid.fa-bars
      #mainNav.collapse.navbar-collapse
        ul.navbar-nav.ms-auto.mb-2.mb-lg-0  
          li.nav-item
            a.nav-link.p-lg-3.p-2.active(aria-current="page", href="#") Home
          li.nav-item
            a.nav-link.p-lg-3.p-2(aria-current="page", href="#") Services
          li.nav-item
            a.nav-link.p-lg-3.p-2(aria-current="page", href="#") Portfolios
          li.nav-item
            a.nav-link.p-lg-3.p-2(aria-current="page", href="#") About
          li.nav-item
            a.nav-link.p-lg-3.p-2(aria-current="page", href="#") Contact
        .search.px-3.d-none.d-lg-block
          i.fa-solid.fa-magnifying-glass 
        a.btn.main-btn.rounded-pill(href="#") Login
  //- ***************************************** End Nav *****************************************

  //- ***************************************** Start Header *****************************************
  header.text-light.d-flex.justify-content-center.align-items-center
    .text-center
      h1 Test the Creativity
      p.text-white-50.fs-5.mb-5 We maje awesome graphic and web design
      a.btn.main-btn.rounded-pill(href="#") Get Started
  //- ***************************************** End Header *****************************************

  //- ***************************************** Start Features *****************************************
  section#features.features.text-center.py-5 
    .container 
      .main-title.my-5.position-relative
        img.mb-4(src="imgs/title.png", alt="Image Title")
        h2 We are Good at 
        p.text-black-50.text-uppercase Some of these stuff under
      .row 
        .col-md-6.col-lg-4
          .feat 
            .icon-holder.position-relative 
              i.number.fa-solid.fa-1.position-absolute.bottom-0
              i.icon.fa-solid.fa-pencil.fa-4x.position-absolute.bottom-0
            h4.text-uppercase.mt-3 Graphic design
            p.text-black-50.lh-lg Pellentesue is ipsum id orci porta dapibus. Vivamus magna justo, laciania eget consectetur sed, convallis at tellus.
        .col-md-6.col-lg-4
          .feat 
            .icon-holder.position-relative 
              i.number.fa-solid.fa-2.position-absolute.bottom-0
              i.icon.fa-solid.fa-tv.fa-4x.position-absolute.bottom-0
            h4.text-uppercase.mt-3 Web Design
            p.text-black-50.lh-lg Pellentesue is ipsum id orci porta dapibus. Vivamus magna justo, laciania eget consectetur sed, convallis at tellus.
        .col-md-6.col-lg-4
          .feat 
            .icon-holder.position-relative 
              i.number.fa-solid.fa-3.position-absolute.bottom-0
              i.icon.fa-solid.fa-plug.fa-4x.position-absolute.bottom-0
            h4.text-uppercase.mt-3 App design
            p.text-black-50.lh-lg Pellentesue is ipsum id orci porta dapibus. Vivamus magna justo, laciania eget consectetur sed, convallis at tellus.
  //- ***************************************** End Features *****************************************
  

//-
  ====================================================================================================================
  In this a block for add Js file for this page
  ====================================================================================================================
block script
  //- Fontawesome library
  script(src="js/fontawesome.min.js")
  //- Bootstrap Framework
  script(src="js/bootstrap.bundle.min.js")
  //- Bondi Javascript File
  script(src="js/bondi-min.js") 