// ====================================== Start Global Rules ======================================
//-------- Variables
$dark-color: #19283f;
$main-color: #33d1cc;
$main-btn : #ff3150;
$yellow: #ffc400;
$section-color: #eff7fa;

* { box-sizing: border-box }
body { font-family: 'Roboto', sans-serif }
.main-btn {
  background-color: $main-btn;
  color: white;
  padding: 0.5rem 1rem;
  &:hover {
    color: $yellow;
  }
}
.main-title {
  &::after {
    content: "";
    width: 120px;
    height: 2px;
    background-color: $main-color;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
  }
}
// ====================================== End Global Rules ======================================

// ====================================== Start Nav ======================================
nav {
  background-color: $dark-color;

  .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
    &:focus { box-shadow: none }
  }
  .navbar-nav .nav-link {
      color: white;
      &.active, &:hover, &:focus {
        color: $main-color;
      }
  }
  .search {
    border-left: 1px solid $main-color;
    cursor: pointer;
    svg {
      color: $main-color;
      &:hover { color: white }
    }
  }
}
// ====================================== End Nav ======================================

// ====================================== Start Header ======================================
header {
  background-color: $dark-color;
  min-height: calc(100vh - 72px);
  h1 { font-weight: 300 !important }
}
// ====================================== End Header ======================================

// ====================================== Start Features ======================================
.features {
  .feat {
    .icon-holder {
      height: 200px;
      svg {
        left: 50%;
        transform: translateX(-50%);
        &.number {
          font-size: 12rem;
          color: $section-color;
        }
        &.icon { color: $main-color }
      } 
    }
    h4 { color: $yellow }
  }
}
// ====================================== End Features ======================================

// ====================================== Start Our Work ======================================
.our-work {
  background-color: $section-color;
  ul {
    li {
      padding: 0.5rem 1rem;
      cursor: pointer;
      &:not(.active):hover {
        color: $main-btn;
      }
      &.active {
        background-color: $main-btn;
        color: #ffc400;
        border-radius: 10px;
        font-weight: bold;
      }
    }
  }
  .row > div { transition: .3s }
  .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
    &::before {
      content: attr(data-work);
      position: absolute;
      inset: 0;
      background-color: transparentize($main-color, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 1.5rem;
      transition: .3s;
      transform: translateX(-100%);
    }
    &:hover::before {
      transform: translateX(0);
    }
  }
}
// ====================================== End Our Work ======================================

// ====================================== Start Stuff ======================================
.stuff {
  .description {
    max-width: 400px;
  }
}
// ====================================== End Stuff ======================================

// ====================================== Start Team ======================================
.our-team {
  background-color: $section-color;
  h2 { color: $yellow }
  .box {
    h4 {
      background-color: $main-color;
    }
  }
}
// ====================================== End Team ======================================

// ====================================== Start Project ======================================
.project {
  background-color: $dark-color;
}
// ====================================== End Project ======================================
